
/* Craig's Additional Styling */
.main-row img {
    width: 80%;
}

/* Default image with above is 80%. Use these to override */
.iw-100 img {
    width: 100%;
}
.iw-50 img {
    width: 50%;
}

/* Prevent the # link from showing in Headings from Markup */
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

/* Reduce the size of the H2 card title*/
h3.card-title, h2.card-subtitle {
    font-size: 1rem;
}
