---
layout: layouts/home.njk
postCount: 4
eleventyNavigation:
  key: Home
  order: 1
---

<div class="row justify-content-between pb-3">
<div class="col-2">
<img src="/img/the_human.png" alt="the author in silhouette" class="d-block w-100">
</div>
<div class="col-2">
<img src="/img/the_cat.png" alt="the author's cat in silhouette" class="d-block w-100">
</div>
</div>

{% set maxPosts = collections.posts.length | min(postCount) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-postCount) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslistcard.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
