<!doctype html>
<html lang="en" class="bg-light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {# <link rel="stylesheet" href="{{ '/css/index.css' | url }}"> #}
    {# <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}"> #}
    <link rel="stylesheet" href="{{ '/css/extras.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand text-warning" href="{{ '/' | url }}">
          <img src="/img/greywidget.jpg" alt="the author and his cat" width="48" height="48" class="d-inline-block align-top">
          <span class="display-6">{{ metadata.title }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarBlog" aria-controls="navBarBlog" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBarBlog">
          <div class="navbar-nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <a class="nav-link {% if entry.url == page.url %} active{% endif %}"{% if entry.url == page.url %} aria-current="page"{% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- endfor %}
          </div>
        </div>
      </div>
    </nav>

    <!-- Main Container -->
    <div class="container-fluid pb-5">

      {# <main {% if templateClass %}class="{{templateClass}}"{% endif %}> #}
      <main class="row justify-content-center pt-3 main-row">
        <div {% if templateClass %}class="{{templateClass}}"{% endif %}>
          {{ content | safe }}
        </div>
      </main>

    </div> <!-- main container div -->

    <footer class="fixed-bottom py-3 bg-secondary text-warning">
      <div class="container-fluid text-small">
        <div class="row mt-auto">
          <div class="col-4">
            &copy; greywidget 2021.
          </div>
          <div class="col-8 text-end">
            The cat is not responsible for the content of this site.
          </div>
        </div>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
